<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.css" media="screen,projection" />

<link type="text/css" rel="stylesheet" href="/materialize.min.css"
	media="screen,projection" />


<title>Telefones</title>
</head>
<body>

	<h1>Telefones Clientes</h1>

	<h5><a class="btn waves-effect waves-light" href="/cadastropessoa">Voltar</a></h5>


<div th:each="p : ${pessoaObj}">
	<div class="row">
		<p>Nome: <span th:text=${p.nome}></span> </p>
		<p>Sobrenome: <span th:text=${p.sobrenome}></span> </p>
		<p>Idade: <span th:text=${p.idade}></span> </p>
	</div>

</div>
<h4>Telefones</h4>
<div class="row">
	<form th:action="@{/addfonePessoa/{/pessoaId}(pessoaId = ${pessoaObj.id})}" method="post" class="col s12">
		<div class="row">
			<div class="input-field col s6">
				<label class="active" for="numero"> Número: </label>
				<input id="numero" name="numero" class="validate">
			</div>
			
			<div class="input-field col s6">
				<label class="active" for="tipo"> Tipo: </label>
				<input id="tipo" name="tipo" class="validate">
			</div>
				<input class="btn waves-effect waves-light" type="submit" value="Adicionar">
			
		</div>
	</form>
</div>


<br/>
<br/>
<br/>



<table class="striped">
  <tr th:each="fone : ${fonesIndividuas}">   
    <td th:text="${fone.numero}"/>
    <td th:text="${fone.tipo}"/>
  </tr>
</table>





	<script type="text/javascript" src="materialize/js/materialize.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>







