<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<!-- Importa os Icones Google-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.css" media="screen,projection" />

<link type="text/css" rel="stylesheet" href="materialize.min.css"
	media="screen,projection" />


<title>Insert title here</title>
</head>
<body>
	<h1>cadastrar</h1>
	<h5><a href="/cadastropessoa">Cadastrar Pessoas</a></h5>


	<script type="text/javascript" src="materialize/js/materialize.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>